.emoji-reactions-reaction-area .emoji-reactions-add-button {
	cursor: pointer;
	opacity: .5;
}

.emoji-reactions-reaction-area .emoji-reactions-add-button:hover {
	opacity: 1;
}

#emoji-reactions-popup-window {
	z-index: 100;
	box-shadow: 0 2px 10px rgba(64,54,63,.5);
	color: rgba(85, 84, 89, 0.87);
	background: #f7f7f7;
	display: none;
	width: 350px;
	height: 400px;
	position: absolute;
}

#emoji-reactions-popup-window #emoji-menu-header {
	padding: 4px 0 0 8px;
	background: #E6E6E6;
}

#emoji-reactions-popup-window .emoji-group-tab {
	display: inline-block;
	padding-right: 15px;
	padding-left: 5px;
	cursor: pointer;
}

#emoji-reactions-popup-window .emoji-group-tab .emoji {
	width: 18px !important;
	height: 18px !important;
}

#emoji-reactions-popup-window .emoji-select {
	cursor: pointer;
	display: inline-block;
	margin: 5px;
}


#emoji-reactions-popup-window #emoji-label {
	padding: 15px;
	font-weight: bold;
}

#emoji-reactions-popup-window #emoji-list {
	padding: 0 15px 5px 15px;
	overflow-x: hidden;
	overflow-y: auto;
	height: 300px;
}

#emoji-reactions-popup-window #emoji-list .emoji {
	width: 18px !important;
	height: 18px !important;
}
